@font-face {
  font-family: "imported-Azo";
  src: url("Fonts/Azo/AzoSansLight.otf");
}

@font-face {
  font-family: "imported-Azo-Medium";
  src: url("Fonts/Azo/AzoSansMedium.otf");
}

@font-face {
  font-family: "imported-Azo-Bold";
  src: url("Fonts/Azo/AzoSansBold.otf");
}

h1 {
  font-family: "imported-Azo-Bold";
  color: #9C3C41;
}

h2, h3 {
  font-family: "imported-Azo-Medium";
  color: #5C3B42;
}

p, ul, li, ol {
  font-family: "imported-Azo";
  color: #E4E5E7;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /* background-color: #061621; */
}

.d3-container {
  position: absolute;
  width: 100vw;
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #061621;
  transition: margin-left .5s;
}

.main-button {
  position: absolute;
  width: 300px;
  height: 300px;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -150px;
  cursor: pointer;
  z-index: 0;
}

.main-button img {
  width: 100%;
}

.tool-kit-box {
  stroke: url(#Gradient);
  filter: url(#drop-shadow);
  fill: #e4e5e7;
  fill-opacity: .7;
  cx: 12;
  cy: 12;
  text-anchor: middle;
}

.toolKit-text {
  fill: #b0b2b8;
  font-size: 12px;
  text-anchor: middle;
}

.stop-left {
  stop-color: #426164;
}

.stop-right {
  stop-color: #061621;
}

.button-circle {
  fill: #061621;
  stroke: url(#Gradient);
  stroke-width: 2;
  cursor: pointer;
  filter: url(#drop-shadow);
}

.button-circle.selected {
  fill: #E4E5E7;
}

.menu-lables {
  font-family: "imported-Azo-Bold";
  font-size: 25px;
  fill: #9C3C41;
  text-anchor: middle;
}

.buttonEmmision {
  fill: black;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////

                                            Index Style

/////////////////////////////////////////////////////////////////////////////////////////////////// */
.content-page {
  background-image: url("Assets/Page-Frame-Light-Shadow.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  width: 0;
  height: 100vh;
  z-index: 1;
  transition: width .5s;
  overflow-y: auto;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content-page::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.content-page {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}

.content-page.open {
  width: 70vw;
}

.topic-grid {
  position: relative;
  display: inline-grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  margin: 55px;
}

.topic-pragraph {
  line-height: 24px;
}

.image-grid {
  font-family: "imported-Azo-Medium";
  position: relative;
  display: grid;
  width: 70vw;
  grid-template-columns: 10% 50%;
  grid-template-rows: 65px 65px 65px 65px 65px 65px 65px;
  grid-row-gap: 12px;
  margin: 75px;
  text-align: right;
  text-indent: 12px;
  color: #7a9193;
}

.image-grid img {
  height: 100%;
}

.image-grid .line-indicator {
  position: relative;
  display: block;
  /* max-width: 50%; */
  height: 2px;
  background-color: #12393d;
  top: 50%;
  /* box-shadow: 0 0 8px 2.5px rgba(122, 145, 147, .8); */
  box-shadow:
    inset 0 0 50px #fff,
    /* inner white */
    inset 20px 0 80px #f0f,
    /* inner left magenta short */
    inset -20px 0 80px #0ff,
    /* inner right cyan short */
    inset 20px 0 300px #f0f,
    /* inner left magenta broad */
    inset -20px 0 300px #0ff,
    /* inner right cyan broad */
    0 0 50px #fff,
    /* outer white */
    -10px 0 80px #f0f,
    /* outer left magenta */
    10px 0 80px #0ff;
  /* outer right cyan */
}

.section-devider {
  display: block;
  position: relative;
  width: 60%;
  text-align: center;
  height: 1px;
  background-color: #b0b2b8;
  margin: 55px;
}

#D3 img {
  position: absolute;
  height: 150px;
  top: 90%;
  left: 25px;
  z-index: -1;
}

.UX-Container-Size {
  position: relative;
  width: 80%;
}

.row-content-grid {
  position: relative;
  display: inline-grid;
  grid-template-columns: 35% 35%;
  grid-template-rows: auto;
  grid-column-gap: 25px;
  margin: 55px;
  margin-top: 150px;
}

.row-content-grid h1, h2, h3 {
  margin: -6px;
}

.content-grid {
  font-family: "imported-Azo-Medium";
  position: relative;
  display: grid;
  width: 70vw;
  grid-template-columns: 65px 50%;
  grid-template-rows: auto auto auto;
  grid-row-gap: 24px;
  grid-column-gap: 16px;
  margin: 75px;
  color: #7a9193;
}

.content-grid img {
  width: 100%;
}

.CV-envelops {
  cursor: pointer;
}

.content-grid .inner-content {
  position: relative;
  height: 0;
  overflow-y: hidden;
  overflow-x: hidden;
  /* margin-top: 25px; */
  text-align: left;
  padding-left: 12px;
}

.content-grid .inner-content.open {
  height: auto;
  overflow-y: auto;
}

.content-grid .main-headings {
  margin-top: 6px;
  text-align: left;
  margin-bottom: 6px;
  color: #7a9193;
  padding-left: 12px;
}

.content-grid .work-title {
  margin-top: 55px;
}

.content-grid .date {
  font-size: 12px;
  color: #b0b2b8;
}

.UX-Images {
  width: 75%;
  margin: 55px;
}

.content-grid .line-indicator-Resume {
  position: relative;
  display: block;
  /* max-width: 50%; */
  height: 2px;
  background-color: #12393d;
  /* top: 50%; */
  /* box-shadow: 0 0 8px 2.5px rgba(122, 145, 147, .8); */
  box-shadow:
    inset 0 0 50px #fff,
    /* inner white */
    inset 20px 0 80px #f0f,
    /* inner left magenta short */
    inset -20px 0 80px #0ff,
    /* inner right cyan short */
    inset 20px 0 300px #f0f,
    /* inner left magenta broad */
    inset -20px 0 300px #0ff,
    /* inner right cyan broad */
    0 0 50px #fff,
    /* outer white */
    -10px 0 80px #f0f,
    /* outer left magenta */
    10px 0 80px #0ff;
}

/* //////////////////////////////////////////////////////////////////////////////////////////////////

                                            Map Style

/////////////////////////////////////////////////////////////////////////////////////////////////// */
#Script-Container {
  box-sizing: border-box;
  position: relative;
  top: 55px;
  width: 920px;
  height: 920px;
  padding: 25px;
}

text {
  font-family: "imported-Azo-Medium";
  color: #E4E5E7;
}

path {
  fill: #E4E5E7;
  stroke: none;
  stroke-width: .5px;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .5);
}

.cities-circles {
  fill: url(#Gradient);
  stroke: url(#Gradient);
  stroke-width: 1.5px;
  fill-opacity: .7;
  z-index: -1;
  transition: .5s;
  filter: url(#legend-drop-shadow);
}

.cities-circles.clicked {
  fill: #9C3C41;
  fill-opacity: 1;
  r: 10;
}

.cities-circles.active {
  fill: #5C3B42;
  r: 10;
}

path.active {
  fill: pink;
}

.ellipseCan {
  width: 100px;
  height: 100px;
  stroke-width: .3;
  opacity: .9;
}

.year-container text {
  cursor: pointer;
  fill: #E4E5E7;
}

.year-container text.active {
  fill: #5C3B42;
}

.legend-circles {
  fill: url(#Gradient);
  opacity: .5;
  stroke: url(#Gradient);
  stroke-width: 1.5px;
  filter: url(#legend-drop-shadow);
}

.legend tspan {
  fill: #E4E5E7;
}

.node text {
  display: none;
  font: 10px sans-serif;
}

.node:hover text {
  display: inline;
}